{
  "accountRoot": "~/InVision/[ENTERPRISE NAME]",
  "balsamiqBin": "/Applications/Balsamiq Mockups.app/Contents/MacOS/Balsamiq Mockups",
  "appDir": "app",
  "closeWindows": "close-windows.applescript",
  "exportLog": "log/scanner.log",
  "scannerLog": "log/scanner.log",
  "listenerLog": "log/scanner.log",
  "indexLog": "log/scanner.log",
  "componentsProject": "Components",
  "indexFile": "index.json",
  "fileTypes": [
    ".bmml",
    ".png",
    ".jpg",
    ".jpeg",
    ".gif"
  ]
}