{
  /* Base directories */
  "accountRoot": "~/Dropbox/Apps/InvisionApp/[ENTERPRISE NAME]",
  "balsamiqBin": "/Applications/Balsamiq Mockups.app/Contents/MacOS/Balsamiq Mockups",
  
  
  /* Log files */
  "closeWindows": "close-windows.applescript",
  "monitorLog": "monitor.log",
  "workerLog": "worker.log",
  
  
  /* InVision config */
  "componentsProject": "Components",
  
  
  /* File type list */
  "fileTypes": [
    ".bmml",
    ".png",
    ".jpg",
    ".jpeg",
    ".gif"
  ],
  
  
  /* Binaries */
  "trashBin": "/usr/local/bin/trash",
  
  
  /* Redis keys */
  "hashKey": "file_hash",
  
  
  /* Redis settings */
  "redisURI": "localhost",
  "redisPort": 6379,
  "redisDB": "HAL",
  "workerNamespace": "WorkerHAL"
}
