{
  "accountRoot": "~/InVision/[ENTERPRISE NAME]",
  "balsamiqBin": "/Applications/Balsamiq Mockups.app/Contents/MacOS/Balsamiq Mockups",
  "exportLog": "log/export.log",
  "listenerLog": "log/listener.log",
  "componentsProject": "Components"
}